.lebody1 {
    background-color: #FC3D50;
}

    .letout{
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

        .conteneur {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            justify-content: center;
            margin-top: 3%;
        
        }

            .d1 {
                width: 90%;
                height: 600px;
                margin: 1%;
                display: none;
            }
            
            .d1_1 {
                width: 100%;
                display: flex;
                flex-flow: row;
            }

                .entetep1 {
                    display: flex;
                    flex-flow: column;
                    text-align: center;
                    font-family: 'Grandstander', cursive;
                    width: 100%;
                }

                    .monnom{
                        font-size: 80px;
                        text-shadow: #ffffff 2px 2px, #ffffff -2px 2px, #ffffff -2px -2px, #ffffff 2px -2px;
                    }

                    .profession{
                        font-size: 30px;
                        color: white;
                        text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
                        margin-top: -5%;
                    }

                .info_perso{
                    display: flex;
                    flex-flow: row;
                    width: 100%;
                    height: 100%;
                    justify-content: flex-end;
                    align-items: flex-end;
                }

                    .sous_info{
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        text-align: center;
                        font-size: 25px;
                        font-family: 'Grandstander', cursive;
                        padding: 4%;
                        padding-right: 10%;
                        color: white;
                    }
                
                .image1 {
                    height: 96%;
                    padding: 1%;
                }

                .lesimages{
                    height: 100%;
                }


        .nav1 {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        .nav2 {
            display: none;
        }

            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1%;
            }
            
            .buttonon {
                border: solid 3px #ffffff;
                background-color: black;
                width: 50px;
                height: 50px;
                font-size: 40px;
            }
            
            .buttonoff {
                border: solid 2px #000000;
                background-color: white;
                width: 35px;
                height: 35px;
                font-size: 25px;
            }

.text1{
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
}

.lebody2 {
    background-color: #FE6630;
}

.d1_2{
    flex-flow: column;
    align-items: center;
}

.lescolonnes{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.informatique1{
    text-align: left;
    width: 50%;
    color: #37414B;

}

.titre1{
    font-family: 'Grandstander', cursive;
    font-size: 35px;
    color: #3DFCD6;
    text-shadow: #000000 2px 2px, #000000 -2px 2px, #000000 -2px -2px, #000000 2px -2px;
    margin-top: -70px;
    width: 40%;
    text-align: center;

}

.lestitres{
    text-align: center;
    width: 100%;
    color: #19469B;
}

.lalala{
    display: none;
}

.close{
    display: flex;
    justify-content: center;
    width: 50%;
}

.buttonclose{
    display: flex;
    border: solid 3px red;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 2%;
    margin: 2%;
}


.colonne1_1{
    display: flex;
    flex-flow: column;
    width: 500px;
    height: 550px;
    background: rgba(250, 250, 250, 0.7);
    padding: 1%;
    margin-top: -10%;
    margin-bottom: 1%;
    border: solid 7px black;
}

.diplome1{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.base1{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-bottom: 5%;
}

.base1_1{
    display: flex;
    flex-flow: column;
}

.imgbase1{
    width: 100px;
    height: 90px;
    background-image: url("images/logo_unc.jpg");
    background-size: cover;
    background-position: center;
    margin-right: 2%;
}

.imgbase2{
    width: 100px;
    height: 90px;
    background-image: url("images/logo_iut.jpg");
    background-size: cover;
    background-position: center;
    margin-right: 2%;
}

.imgbase3{
    width: 100px;
    height: 90px;
    background-image: url("images/logo_pmbt.jpg");
    background-size: cover;
    background-position: center;
    margin-right: 2%;
}





.logo_p2{
    width: 40px;
    height: 40px;
    text-align: center;
}

.logo_adobe{
    display: flex;
    flex-flow: row;
}

.logo_adobe2{
    padding: 3%;
    text-align: center;
}

.sous_informatique{
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
}

.creativecloud{
    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;
    padding-bottom: 4%;
}


.diplome2{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.informatique3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
}

.informatique1{
    text-align: left;
    color: #37414B;
    width: 20%;

}

.fleche{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    font-size: 30px;
}

.miel-image{
    width: 100%;
    height: 150px;
    background-image: url("images/miel.png");
    background-size: cover;
    background-position: center;
    margin-right: 2%;
}

.meca-image{
    width: 100%;
    height: 150px;
    background-image: url("images/mecanique.JPG");
    background-size: cover;
    background-position: center;
    margin-right: 2%;
}

.agri-image{
    width: 100%;
    height: 150px;
    background-image: url("images/agriculture.png");
    background-size: cover;
    background-position: center;
    margin-right: 2%;
}

.betail-image{
    width: 100%;
    height: 150px;
    background-image: url("images/elevage.jpg");
    background-size: cover;
    background-position: center;
    margin-right: 2%;
}

.atout{
    display: flex;
    flex-flow: row wrap;
}

.sous-atout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    text-align: center;
    width: 48%;
}

.sous-sous-atout{
    width: 100%;
}






.functionbuttonhidden {
    display: none;
}

.functionbuttonvisible {
    display: flex;
}

.on{
    justify-content: center;
}










.bb, .bb::before, .bb::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .bb {
    width: 350px;
    height: 600px;
    margin: 10px;
    color: #000000;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.5);
  }
  .bb::before, .bb::after {
    content: '';
    z-index: -1;
    margin: -5%;
    box-shadow: inset 0 0 0 10px;
    animation: clipMe 8s linear infinite;
  }
  .bb::before {
    animation-delay: -4s;
  }
  .bb:hover::after, .bb:hover::before {
    background-color: rgba(255, 0, 0, 0.3);
  }
  
  @keyframes clipMe {
    0%, 100% {
      clip: rect(0px, 385px, 6px, 0px);
    }
    25% {
      clip: rect(0px, 6px, 660px, 0px);
    }
    50% {
      clip: rect(654px, 385px, 660px, 0px);
    }
    75% {
      clip: rect(0px, 385px, 660px, 379px);
    }
  }
  html,
  body {
    height: 90%;
  }
  
  body {
    position: relative;
    margin: 2%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }




  
  .system {
    width: 100%;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    margin-top: 3%;
  }
  
  .sun {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 50%;
    margin: -100px;
    background-color: rgba(255, 255, 255, 0.5);
    border: dashed 2px #ffffff;
    text-align: center;
    font-family: 'Grandstander', cursive;
    z-index: 300;
  } 

  .prenom{
    font-size: 25px;
  }
  
  @-webkit-keyframes rot-jup {
    from {
      -webkit-transform: rotate(0deg) translatey(-200px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-200px) rotate(-360deg);
    }
  }
  @-keyframes rot-jup {
    from {
      -webkit-transform: rotate(0deg) translatey(-200px) rotate(0deg);
              transform: rotate(0deg) translatey(-200px) rotate(0deg);
    }
  
    to {
      -webkit-transform: rotate(360deg) translatey(-200px) rotate(-360deg);
              transform: rotate(360deg) translatey(-200px) rotate(-360deg);
    }
  }
  .jup {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 50%;
    margin: -60px;
    -webkit-animation: rot-jup 44s infinite linear;
    animation: rot-jup 44s infinite linear;
    z-index: 200;
    border: solid 2px #3DFCD6;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: 'Grandstander', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
  }
  
  .jup-path {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 100px;
    left: 50%;
    margin: -200px;
    border: solid 2px #000000;
    background-color: #3DFCD6;
  }
  
  @-webkit-keyframes rot-sat {
    from {
      -webkit-transform: rotate(0deg) translatey(-325px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-325px) rotate(-360deg);
    }
  }
  @-keyframes rot-sat {
    from {
      -webkit-transform: rotate(0deg) translatey(-325px) rotate(0deg);
              transform: rotate(0deg) translatey(-325px) rotate(0deg);
    }
  
    to {
      -webkit-transform: rotate(360deg) translatey(-325px) rotate(-360deg);
              transform: rotate(360deg) translatey(-325px) rotate(-360deg);
    }
  }
  .sat {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100px;
    left: 50%;
    margin: -50px;
    -webkit-animation: rot-sat 40s infinite linear;
    animation: rot-sat 40s infinite linear;
    z-index: 200;
    border: solid 2px #3DFCD6;
    text-align: center;
    color: white;
    font-family: 'Grandstander', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
  }
  
  .sat-path {
    width: 650px;
    height: 650px;
    border-radius: 50%;
    z-index: 75;
    position: absolute;
    top: 100px;
    left: 50%;
    margin: -325px;
    border: solid 2px #000000;
    background-color: #FE6630;
  }
  
  @-webkit-keyframes rot-ura {
    from {
      -webkit-transform: rotate(0deg) translatey(-450px) rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg) translatey(-450px) rotate(-360deg);
    }
  }
  @-keyframes rot-ura {
    from {
      -webkit-transform: rotate(0deg) translatey(-450px) rotate(0deg);
              transform: rotate(0deg) translatey(-450px) rotate(0deg);
    }
  
    to {
      -webkit-transform: rotate(360deg) translatey(-450px) rotate(-360deg);
              transform: rotate(360deg) translatey(-450px) rotate(-360deg);
    }
  }
  .ura {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #bfeef2;
    position: absolute;
    top: 100px;
    left: 50%;
    margin: -65px;
    -webkit-animation: rot-ura 50s infinite linear;
    animation: rot-ura 50s infinite linear;
    z-index: 200;
    border: solid 2px #3DFCD6;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: 'Grandstander', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: none;
  }
  
  .ura-path {
    width: 900px;
    height: 900px;
    border-radius: 50%;
    z-index: 50;
    position: absolute;
    top: 100px;
    left: 50%;
    margin: -450px;
    border: solid 10px #000000;
    background-color: #3DFCD6;
  }

  .montitre {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: -20px;
  }

.mousebutton{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 220px;
  height: 220px;
  margin: -110px;
}

.mescompetences{
  position: absolute;
  right: 50px;
}

.systeme{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

}

.focus{
  border: solid 5px white;
}

.document{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 1%;
}

.sous-document{
  width: 25%;
  background-color: white;
  border: solid 2px black;
  padding: 2%;
}

.documents{
  text-align: center;
  color: #FC3D50;
  font-family: 'Grandstander', cursive;
  font-size: 20px;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.lesliens{
  display: flex;
  flex-flow: column;
  text-align: center;
  font-family: 'Grandstander', cursive;
}

.mousecolonne{
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
}


